chromadb 
huggingface-hub 
huggingface_hub[cli]
langchain 
langchain-core 
langchain_community 
langchain-huggingface 
langchain-text-splitters 
langchainhub
dotenv 
transformers 
tokenizers 
pypdf 
fastapi 
faiss-cpu 
fastembed 
streamlit 
accelerate
sentence-transformers

